@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,300i,500,500i");

$font-standard: "Roboto", serif;
$font-pre: "Roboto Mono", monospace;

$font-color:			#212D35;

$color-white:			#FFF;
$color-panel-grey: 		#F2F2F2;
$color-highlight: 		#D4D4D4;
$color-yellow:  		#FFB400;
$color-star-outline: 	#7E7772;
$color-sponge-red: 		#F9423A;
$color-box-main: 		#7B0051; 		
$color-box-right:		#FC6E8D;

$color-icon: 			#666;

body {
	min-width: 320px;

	font-family: $font-standard;
	color: $font-color;
	font-weight: 300;
}

#header-wrapper {
	position: relative;

	background: $color-sponge-red;

	z-index: 2;
}

#header {
	padding-top: 60px;
	padding-bottom: 45px;

	color: $color-white;
	
	img {
		margin-right: auto;
		margin-bottom: 30px;
		margin-left: auto;

		display: block;
	}

	h1 {
		color: $color-white;
	}
	
	h1 + p {
		font-size: 1.8em;
	}
}


#content {
	padding-top: 0px;
	padding-bottom: 30px;
	
	img{
		width: 100%;
	}
}

#aboutme {
	padding-top: 30px;
	padding-bottom: 0px;
}

#tasks {
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;

	position: relative;

	background-color: $color-panel-grey;

	counter-reset: tasks;

	z-index: 1;
	
	article {
		counter-increment: tasks;
		
		h5 {
			color: $color-sponge-red;
			
			.difficulty {
				margin-left: 1.5em;

				display: inline-block;

				float: right;

				color: $color-yellow;
				font-size: 0.8em;
				white-space: nowrap;
				
				.fa {
					margin-left: 0.1em;
				}
				
				.fa-star-o {
					color: $color-star-outline;
				}
				
			}
			
		}
		
		h5::before {
			min-width: 0.75em;
			padding-right: 0.5em;

			display: inline-block;

			color: $font-color;
			font-weight: 300;
			vertical-align: text-bottom;

			content: counter(tasks) ".";
		}

	}
}

#boxestest {
	padding-top: 0px;
	padding-bottom: 30px;
}
	
#footer-wrapper {
	padding-top: 30px;
	padding-bottom: 10px;

	position: relative;

	color: $color-white;

	background-color: $font-color;

	z-index: 2;
}

#footer a {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

h2,
h3,
h4,
h5,
h6 {
	color: $color-sponge-red;
}

#content {
	a,
	a:visited {
		color: $color-sponge-red;
	}
	
	a:hover {
		color: $font-color;
	}
}

#aboutme {
	a,
	a:visited {
		color: $color-sponge-red;
	}
	
	a:hover {
		color: $font-color;
	}
}

p,
ul,
ol {
	font-size: 1.5em;
}

p code,
li code {
    padding-right: 0.2em;
    padding-left: 0.2em;

    line-height: 1.35;
    vertical-align: baseline;
    font-size: 0.9em;

    background-color: $color-highlight;

    outline: none;
}

code,
pre {
	font-family: $font-pre;
	font-weight: 300;
	display:inline-block;
}

strong {
	font-weight: 500;
}

/**
 * Styles to make the boxes actually visible to start
 */

#boxes {
	padding: 40px;
	position: relative;
	text-align: right;
	
	&:after{
		content:"Wrapper";
		font-size: 1.5em;
		color: $color-white;
		position: absolute;
		text-align:center;
		padding-top: 10px;
		top: 100%;
		right:0;
		width: 96px;
		height:30px;
		background-color:$color-box-main;
	}

}

#box-left,
#box-right {
	&:before{
		width: 100%;
		left: 0;
		font-size: 1.5em;
		color: $color-white;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}
}

	
#box-left {
	width: 210px;
	height: 50px;
	max-width: calc(50% - 40px);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	&:before{
		content:"Left";
	}
}

#box-right {
	width: 50%;
	height: 0px;
	position: relative;
	padding-bottom: 50%;
	display: inline-block;
	
	&:before{
		content:"Right";
	}
}


/**
 * Styles to set the visible elements of the accordion and it's items
 */
 .accordion {
	font-family: $font-standard;
    color: $font-color;
    font-weight: 300;
	margin-bottom: 3em;
	width:auto;
	height: auto;
 }
 
.accordion-item { 
	background-color: $color-highlight;
	width: 100%;
	border-bottom: 1px solid $color-white;
	font-size:1.5em;
	padding:1rem;
	cursor:pointer;
	
	&.active { 
		background-color: $color-sponge-red;
		color:$color-white;
		
		.accordion-item-icon:before {
			content: "\f068";
			color:$color-white;
		}
	}
}

.accordion-item-icon:before {
	content: "\f067";
	color: $color-icon;
}

.accordion-item-icon {
	font-family:'FontAwesome';
	color:$color-white;
	float:right;
	position:relative;
	font-size:1em;
}

.accordion-item-content {
	
	background-color: $color-panel-grey;
	width: 100%;
	height:auto;
	font-size:1em;
	padding:1rem;
	display:block;
	max-height:500px;
	
	~ .accordion-item-content {
		//display:none;
	}
	
	img {
		width:100%;
	}
	
}

.accordion-item-content-inner {
	opacity: 1;
}

.show {
	display:block;
}

.hide {
	display:none;
}


/**
 * Responsive font size
 */
@media screen and ( max-width: 499px) {
	body {
		font-size: 1.25em;
	}
} 




