@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,300i,500,500i");
body {
  min-width: 320px;
  font-family: "Roboto", serif;
  color: #212D35;
  font-weight: 300; }

#header-wrapper {
  position: relative;
  background: #F9423A;
  z-index: 2; }

#header {
  padding-top: 60px;
  padding-bottom: 45px;
  color: #FFF; }
  #header img {
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    display: block; }
  #header h1 {
    color: #FFF; }
  #header h1 + p {
    font-size: 1.8em; }

#content {
  padding-top: 0px;
  padding-bottom: 30px; }
  #content img {
    width: 100%; }

#aboutme {
  padding-top: 30px;
  padding-bottom: 0px; }

#tasks {
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  position: relative;
  background-color: #F2F2F2;
  counter-reset: tasks;
  z-index: 1; }
  #tasks article {
    counter-increment: tasks; }
    #tasks article h5 {
      color: #F9423A; }
      #tasks article h5 .difficulty {
        margin-left: 1.5em;
        display: inline-block;
        float: right;
        color: #FFB400;
        font-size: 0.8em;
        white-space: nowrap; }
        #tasks article h5 .difficulty .fa {
          margin-left: 0.1em; }
        #tasks article h5 .difficulty .fa-star-o {
          color: #7E7772; }
    #tasks article h5::before {
      min-width: 0.75em;
      padding-right: 0.5em;
      display: inline-block;
      color: #212D35;
      font-weight: 300;
      vertical-align: text-bottom;
      content: counter(tasks) "."; }

#boxestest {
  padding-top: 0px;
  padding-bottom: 30px; }

#footer-wrapper {
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
  color: #FFF;
  background-color: #212D35;
  z-index: 2; }

#footer a {
  color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

h2,
h3,
h4,
h5,
h6 {
  color: #F9423A; }

#content a,
#content a:visited {
  color: #F9423A; }

#content a:hover {
  color: #212D35; }

#aboutme a,
#aboutme a:visited {
  color: #F9423A; }

#aboutme a:hover {
  color: #212D35; }

p,
ul,
ol {
  font-size: 1.5em; }

p code,
li code {
  padding-right: 0.2em;
  padding-left: 0.2em;
  line-height: 1.35;
  vertical-align: baseline;
  font-size: 0.9em;
  background-color: #D4D4D4;
  outline: none; }

code,
pre {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  display: inline-block; }

strong {
  font-weight: 500; }

/**
 * Styles to make the boxes actually visible to start
 */
#boxes {
  padding: 40px;
  position: relative;
  text-align: right; }
  #boxes:after {
    content: "Wrapper";
    font-size: 1.5em;
    color: #FFF;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    top: 100%;
    right: 0;
    width: 96px;
    height: 30px;
    background-color: #7B0051; }

#box-left:before,
#box-right:before {
  width: 100%;
  left: 0;
  font-size: 1.5em;
  color: #FFF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }

#box-left {
  width: 210px;
  height: 50px;
  max-width: calc(50% - 40px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  #box-left:before {
    content: "Left"; }

#box-right {
  width: 50%;
  height: 0px;
  position: relative;
  padding-bottom: 50%;
  display: inline-block; }
  #box-right:before {
    content: "Right"; }

/**
 * Styles to set the visible elements of the accordion and it's items
 */
.accordion {
  font-family: "Roboto", serif;
  color: #212D35;
  font-weight: 300;
  margin-bottom: 3em;
  width: auto;
  height: auto; }

.accordion-item {
  background-color: #D4D4D4;
  width: 100%;
  border-bottom: 1px solid #FFF;
  font-size: 1.5em;
  padding: 1rem;
  cursor: pointer; }
  .accordion-item.active {
    background-color: #F9423A;
    color: #FFF; }
    .accordion-item.active .accordion-item-icon:before {
      content: "\f068";
      color: #FFF; }

.accordion-item-icon:before {
  content: "\f067";
  color: #666; }

.accordion-item-icon {
  font-family: 'FontAwesome';
  color: #FFF;
  float: right;
  position: relative;
  font-size: 1em; }

.accordion-item-content {
  background-color: #F2F2F2;
  width: 100%;
  height: auto;
  font-size: 1em;
  padding: 1rem;
  display: block;
  max-height: 500px; }
  .accordion-item-content img {
    width: 100%; }

.accordion-item-content-inner {
  opacity: 1; }

.show {
  display: block; }

.hide {
  display: none; }

/**
 * Responsive font size
 */
@media screen and (max-width: 499px) {
  body {
    font-size: 1.25em; } }
